<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width-device-width, initial-scale=1.0" />
          <title>HTMX Counter</title>
          <link href="/css/output.css" rel="stylesheet">
          <script
                    src="https://unpkg.com/htmx.org@1.9.6"
                    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
                    crossorigin="anonymous"
                    ></script>
     </head>
     <body>
          <div class="m-3">
               <!-- passing values from the go app -->
               <div id="counter">{{.CounterValue}}</div>
               <button
                         hx-target="#counter"
                         hx-post="/decrease"
                         class="bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
                         >
                         Decrease -
               </button>
                    <button
                              hx-target="#counter"
                              hx-post="/increase"
                              class="bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
                              >
                              Increase +
                    </button>
          </div>
     </body>
</html>
